In [1]:
from logging import getLogger
from datetime import datetime
import pandas as pd
from btc_functions.logging.logger_config import setup_logger
import os
from dotenv import load_dotenv
import btc_functions.load_database.mysql as db_functions
from btc_functions.transfert_data.get_data_as_df import get_df_change_timestamp

In [2]:
def reverse_timestamp(df: pd.DataFrame, col1: str, col2: str = None) -> pd.DataFrame:
    """Attention, la fonction traite max 2 colonnes

    Args:
        df (pd.DataFrame): df
        col1 (str): nom de la col à transformer
        col2 (str, optional): nom de la col2 à transformer. Defaults to None.

    Returns:
        pd.DataFrame: df
    """
    cols = [col1] if col2 is None else [col1, col2]
    df[cols] = df[cols].map(lambda x: datetime.fromtimestamp(x / 1000))
    return df


def fetch_and_process_table(table_name, col1, col2 = None) -> pd.DataFrame:
    """Récupère une table SQL, applique reverse_timestamp sur les cols BIGINT spécifiées
       et retourne le DataFrame.

    Args:
        engine (connection): engine pymysql
        table_name (sql_table): nom de la table cible (type BIGINT / timestamp)
        col1 (table_column): table à transcrire
        col2 (table_column2, optional): 2e colonne à transcrire. Defaults to None.
    """
    load_dotenv("/home/sanou/BTC_app/env/private.env")
    engine = db_functions.create_connection()
    query = f"SELECT * FROM {table_name}"

    df = pd.read_sql_query(query, engine)
    df = reverse_timestamp(df, col1, col2)
    
    # logger.info(f"Table {table_name} traitée avec succès.")
    return df

In [ ]:
load_dotenv("/home/sanou/BTC_app/env/private.env")
table_klines = "klines"
table_24 = "ticket24h"
tables = ["klines", "ticket24h"]

engine = db_functions.create_connection()

for table in tables:
    query = f"SELECT * FROM {table}"
    df = pd.read_sql_query(query, engine)
    bigint_cols = df.select_dtypes(include=['int64']).columns
    
    for col in bigint_cols:
        df = reverse_timestamp(df, bigint_cols)
        print(f'{col} traitée.')
        print(df.head())


table_klines = "klines"
col_kline1 = "kline_open_time"
col_kline2 = "kline_close_time"
table_24 = "ticket24h"
col_ticket1 = "openTime"
col_ticket2 = "closeTime"

query_klines = f"SELECT * FROM {table_klines}"
query_ticket = f"SELECT * FROM {table_24}"
df_klines = pd.read_sql_query(query_klines, engine)
df_24 = pd.read_sql_query(query_ticket, engine)

df_klines = reverse_timestamp(df_klines, col_kline1, col_kline2)
df_24 = reverse_timestamp(df_24, col_ticket1, col_ticket2)


print(df_klines.head(), df_24.head())

In [4]:
load_dotenv("/home/sanou/BTC_app/env/private.env")
df_klines = get_df_change_timestamp("klines", "kline_open_time", "kline_close_time")
df_daily = get_df_change_timestamp("daily", "openTime", "closeTime")

2024-11-26 00:58:23,315 - btc_functions.load_database.mysql - INFO - Tentative de connexion à localhost:3306 en tant que sanou
2024-11-26 00:58:23,317 - btc_functions.load_database.mysql - INFO - Connexion à MySQL réussie avec SQLAlchemy.
2024-11-26 00:58:23,427 - btc_functions.transfert_data.get_data_as_df - INFO - Table klines traitée avec succès.
2024-11-26 00:58:23,428 - btc_functions.load_database.mysql - INFO - Tentative de connexion à localhost:3306 en tant que sanou
2024-11-26 00:58:23,429 - btc_functions.load_database.mysql - INFO - Connexion à MySQL réussie avec SQLAlchemy.
2024-11-26 00:58:23,440 - btc_functions.transfert_data.get_data_as_df - INFO - Table daily traitée avec succès.

In [7]:
# df_klines
# df_klines.head()
df_klines['kline_open_time'] = pd.to_datetime(df_klines['kline_open_time']).dt.floor('D')
df_klines.head()

  kline_open_time  ...  taker_buy_quote_asset_volume
0      2024-11-01  ...                  6.395008e+06
1      2024-11-01  ...                  9.492771e+05
2      2024-11-01  ...                  2.184579e+06
3      2024-11-01  ...                  1.367012e+06
4      2024-11-01  ...                  3.114561e+06

[5 rows x 11 columns]

In [15]:
# df_24
col = "openTime"
df_daily['openTime'] = pd.to_datetime(df_daily['openTime']).dt.floor('D')
df_daily[col] = df_daily[col] - pd.Timedelta(days=1)
df_daily.head()

    symbol  priceChange  priceChangePercent  ...     firstId      lastId   count
0  BTCUSDT      -128.54               -0.13  ...  4132567696  4133037760  470065
1  BTCUSDT       751.59                0.77  ...  4136406834  4136757274  350441

[2 rows x 15 columns]

In [9]:
merged_df = pd.merge(df_klines, df_daily, 
                     left_on="kline_open_time",
                     right_on="openTime",
                     how="inner")

In [10]:
features_columns = [
    "open_price",
    "high_price",
    "low_price",
    "close_price",
    "volume_x",
    "priceChange",
    "priceChangePercent",
]

X = merged_df[features_columns].copy()
X["price_change"] = X["close_price"].shift(-1) - merged_df["close_price"]
X["trend"] = (X["price_change"] > 0).astype(int)
y = X["trend"]
X = X.drop(["trend", "price_change"], axis=1)

X.head()

   open_price  high_price  ...  priceChange  priceChangePercent
0    98627.36    98822.03  ...      -128.54               -0.13
1    98815.97    98815.98  ...      -128.54               -0.13
2    98710.12    98871.80  ...      -128.54               -0.13
3    98811.03    98811.04  ...      -128.54               -0.13
4    98755.48    98775.61  ...      -128.54               -0.13

[5 rows x 7 columns]

In [11]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: trend, dtype: int64

In [20]:
merged_df.to_csv("/home/sanou/BTC_app/1_python_scripts/test_merge.csv")

In [ ]:
df_klines.to_csv("/home/sanou/BTC_app/1_python_scripts/test_kline.csv")
df_24.to_csv("/home/sanou/BTC_app/1_python_scripts/test_df24.csv")